body{
    padding:14px;
    background-color:whitesmoke;

}
.change{
    background-color:white;
    padding:8px;
    gap: 6px;
    height:100%;
    width:90%;
    font-size:18px;
    border-radius:4%;
    align-items: center;

}
form{
    margin:20px;
    margin-left:70px;

}

.main{
    margin:4px;
    color:blue;
    display:flex;
justify-content: center;
align-items: center;
margin:30px;
font-size: 50px;
}

textarea,input{
    width:90%;
    border:2px solid black;
padding:4px;

border-radius:2%;
font-size: 15px;
}
button{
background-color: blue;
align-items: center;
padding:4px;
margin-top:20px;
font-size: 20px;
padding: 10px;
}